[2021-01-07 15:58] yvkrishna opened #5 "Add Examples"
Need to add examples for this library. Users can able to understand the usage of the library if they can have a few examples.
Also documenting the example code helps.

[2021-03-08 15:00] kshittijagrawal commented on #5
Hey there!
I'd like to contribute to the project. I want to address and fix this issue. My implementation will be in python with a clean code and documentation. Kindly provide me with this issue.
I'm also a GSSOC'21 participant.

[2021-03-08 16:03] srimontidutta commented on #5
I would like to work on the documentation of this issue for GSSoC 21. Can you please assign it to me?

[2021-03-08 16:46] rubyruins opened #8 "Contribution for GSSOC"
Hi, I would love to contribute to this project during GSSOC 21. Could you tell me a bit more about the progress on the project and what sort of features you expect us to implement?

[2021-03-09 04:54] yvkrishna commented on #5
@kshittijagrawal you can start working on it and make a PR. We would look into it.

[2021-03-09 04:58] yvkrishna commented on #5
@srimontidutta we can make documentation for examples, but before working on documentation there must be examples. so I can suggest you to write few example codes and then document them.

[2021-03-09 05:01] yvkrishna commented on #8
Hello @rubyruins,
Till now, we have implemented loading the data from the dataset folder, applied filters to it, and then load them as datasets. For GSSOC 21, At present We plan to implement data augmentation techniques and then testing the entire code base till now.

[2021-03-09 05:27] rubyruins commented on #8
@yvkrishna that sounds good! I would like to contribute to it. Would you be creating issues from your side so that we can assign ourselves to them? Also, is there any group for discussion of this project?

[2021-03-09 07:29] srimontidutta commented on #5
Sure! Then, should I start with it and make a PR or follow any other method so that it can be checked by you beforehand?

[2021-03-09 07:53] yvkrishna commented on #5
Yeah, you can start with data augmentation.py file.
https://github.com/flow2ml/Flow2ML/blob/main/flow2ml/Data_Augumentation.py

[2021-03-09 11:00] Ananya88 commented on #8
Hey !!
I am interested in this project as GSSOC '21 participant .
And I would like to to update the Readme.md file by adding :

1.How to contribute in this project. The procedure from forking to making a pull request.
2.About how to add issues and etc.
Please assign me with this issue .Thanks.

[2021-03-09 13:10] annapurnavinod commented on #8
Hi, I would love to contribute to this project. Please comment on what all issues are to be worked on.

[2021-03-09 15:22] feni-katharotiya commented on #8
@rubyruins  Hello, I am gssoc participant and would like to work on this issue.

[2021-03-09 15:23] feni-katharotiya commented on #5
@yvkrishna  Hello, I am gssoc participant and would like to work on this issue.

[2021-03-09 16:23] yvkrishna opened #9 "Data Augumentation"
Data augmentation plays one of the key roles in any ml project. So need to implement data augumentation techniques such as

1. Flipping
2. Rotation
3. Shearing
4. Cropping
5. Zoom in, Zoom out
6. scaling

[2021-03-09 16:25] yvkrishna opened #10 "Initial Test"
Before adding on new features, It would be better to test the codebase till now so that the corrected code can then be reused for implementing new features

[2021-03-09 16:34] yvkrishna commented on #8
Thanks for that. But that is the role of project admins and mentors. But you can send it to me, I would discuss it with the project mentors as well and update it. :smile:

[2021-03-09 16:35] yvkrishna commented on #8
Yep, We are adding the issues one by one.
Till now we have added the main things, you can start working on them

[2021-03-09 16:52] rubyruins commented on #10
Hi, I would like to work on this. Are there any specific features of code to be tested?

[2021-03-09 16:55] rubyruins commented on #9
Hi, I would like to work on this for GSSOC! Could you guide me as to how I can help implement this?

[2021-03-09 17:14] yvkrishna commented on #5
I am just adding an example code. It may help in understanding the project. :slightly_smiling_face:

https://colab.research.google.com/drive/1QPbP3_sSVzKR9kvqdkvXV65OrvCAm5Aj?usp=sharing

[2021-03-09 17:59] srimontidutta commented on #5
I'll go through it. Thanks! @yvkrishna

[2021-03-09 17:59] yvkrishna commented on #10
yes, we need to test the entire codebase starting with the getClasses method from Data_Loader class. Next all the methods in filters class. Yes there is a procedure for testing the codebase.

[2021-03-09 18:03] yvkrishna commented on #9
@rubyruins For implementing these features we need to know OpenCV functions related to the above-mentioned features and write corresponing methods similar to methods in the filters class.

[2021-03-09 19:11] rubyruins commented on #9
I would like to work on this issue. I have used OpenCV before, but I'll need some time to understand how the codebase works and how we can implement this. Could you please assign it to me? Also, will there be any official discussion about the project after the project channels are open to everyone?

[2021-03-09 19:13] rubyruins commented on #10
I would be happy to work on this issue! If you could tell me a bit more about the steps for testing the codebase I can start with it.

[2021-03-10 07:44] yvkrishna commented on #10
There is material available on steps on software testing like unit testing, logging, and much more. After learning them It would be better to start with pytest.

[2021-03-10 07:46] yvkrishna commented on #9
Oh great to hear. Yeah, you can start contributing to this issue and our team would check it.
Yes, we will have an official discussion.

[2021-03-10 16:49] Polokghosh53 commented on #8
Hello @yvkrishna, my name is Polok Ghosh and I am from the GSSoC '21 program. I have done a PR can you please look into it. It just a improvisation of the README, could you please review it.
Thank you.

[2021-03-11 06:30] rubyruins commented on #10
Alright! I'll take a look at how pytest works and how we can use it. Can we connect on Discord when the project channels open for all participants? I can start contributing once we discuss more.

[2021-03-11 06:32] rubyruins commented on #9
@yvkrishna Cool! Can we connect on Discord when the project channels open for all participants? Also, should I wait to contribute to this issue until we have a discussion for this project on the server?

[2021-03-11 06:54] yvkrishna commented on #10
yes, we can connect through discord. 👍

[2021-03-11 06:56] yvkrishna commented on #9
yeah, we would connect through discord and you can start working on it and regularly update the team so that we can see that you are in the correct direction.

[2021-03-11 13:49] jyoti-anjaly opened #12 "Update Readme File"
Hey, I am GSSOC'21 Participant.
I would like to update the readme file by adding some contents like "How to contribute" and "How to make pull request".
Can to please assign this to me?

[2021-03-11 16:51] rubyruins commented on #10
Sure, thanks. I tried but was unable to find you on Discord, could you give me your handle, please? Mine is @Soumya on the server.

[2021-03-12 11:02] yvkrishna commented on #10
mine is yvkrishna#7505. I couldn't find yours.

[2021-03-12 11:02] ANAMIKA1410 commented on #12
Hey, I am Anamika, a GSSOC'21 Participant.
I would like contribute in this project and wants to update the readme file by adding some contents like "How to contribute" and "How to make pull request" and "by writing about the projects intro".

please assign this to me

[2021-03-12 11:12] yvkrishna commented on #12
@jyoti-anjaly @ANAMIKA1410  updating the readme and accepting it may take some time because that decision has to be taken by the group of mentors and myself. we need to review a lot and also the project period has just started.

You can create a file for contributing.md and state your views on it and we would see that. The readme contains the main introduction and main documentation so updating it

[2021-03-12 11:39] yvkrishna commented on #12
Also when the time comes the team would announce changes for readme in this issue, so you can start working at that time.

[2021-03-13 09:14] Pranjal-2001 commented on #8
Hey! I am a GSSoC participant.
Will you be adding new issues?

[2021-03-13 10:39] itsIapetus opened #13 "Add welcome bot"
I would like to add a welcome bot for new issues, new prs.
Kindly assign it to me under gssoc, thanks!

[2021-03-13 12:15] yvkrishna commented on #8
Hello @Pranjal-2001  good to see you here. Yeah we would be adding more issue in comming times

[2021-03-13 15:12] rubyruins commented on #10
I've gone through some articles on pytest, so would it be sufficient to work on this issue for GSSOC? I can start and learn more on the way if you could guide me a bit.

[2021-03-13 15:18] khareyash05 opened #14 "add contributing.md"
Hi ! I would like to create a file named contributing.md which will
Add the following -

1.Difference between GIT and GITHUB
2.How to clone,fork repository
3.How to create a branch and then use git push to push to repo
4.Create a PR
5.Squash commits in a single issue into one
6, Updating the forked and local repo as the updations are made in the upstream
I would like to work on this as a part of G

[2021-03-15 16:39] ankan1811 opened #16 "contribute"

[2021-03-15 16:39] #16 closed

[2021-03-16 06:45] Elizah550 commented on #8
Hey !!
 I want to work on this issue and keep contribute how much as I can through this learning process.
Please assign me with this issue .Thanks.

[2021-03-16 08:30] Elizah550 commented on #12
Heyy !!
I am participant too but assure you that I can do this issue in the best possible way please assign it to me.
Thanks !!!

[2021-03-16 08:49] Aryamanz29 opened #17 "[Need] Issue and PR template"
Currently, there is no issue and PR template for this repo

[2021-03-16 08:49] Aryamanz29 commented on #17
I would like to work on this issue, please add labels and kindly assign it to me

[2021-03-17 13:40] RiyaVashishtha commented on #14
Hi,  As a GSSOC'21 participant, I would like to contribute to this issue, please assign this issue to me.

[2021-03-17 14:16] khareyash05 commented on #14
@RiyaVashishtha I am a participant and have self created this issue
Sorry!

[2021-03-17 14:47] rajeshpanjiyar opened #20 "adding contributors profile image with Github handle in readme"
I want to add the **contributor's** section in the readme file. It is one of the best parts of every readme.
- I am a *participant* in **GSSoC'21**
- I would like to be assigned and start working.

[2021-03-19 15:04] khareyash05 commented on #14
@yvkrishna  Created a PR Have a look!

[2021-03-21 04:03] NEERAJAP2001 opened #22 "Generating a Requirement.txt File"
I'd like to generate a requirements.txt file for this project, It would help people to download all the dependencies in one place and work faster.

I'd like to work on this issue as part of the GSSOC-21
Thanks

[2021-03-21 09:17] Sibasish-Padhy commented on #13
i too wanna work on this issue under gssoc 2021.please do consider to assign this issue to me

[2021-03-21 11:17] Sibasish-Padhy commented on #12
@yvkrishna can i contribute to this isue under the label of gssoc'21

[2021-03-21 14:27] Dhriti-Roy commented on #14
I am a Gssoc'21 participant , I would like to work on it . Kindly assigned it to me.

[2021-03-21 14:27] Dhriti-Roy commented on #12
I am a Gssoc'21 participant , I would like to work on it . Kindly assigned it to me.

[2021-03-21 14:27] Dhriti-Roy commented on #5
I am a Gssoc'21 participant , I would like to work on it . Kindly assigned it to me.

[2021-03-21 14:28] Dhriti-Roy commented on #8
I am a Gssoc'21 participant , I would like to work on it . Kindly assigned it to me.

[2021-03-21 14:33] khareyash05 commented on #14
hi @Dhriti-Roy I have self created the issue and also attached a PR . Just waiting for reviewers to review and merge
Sorry1

[2021-03-21 16:44] yvkrishna commented on #17
sorry for the late reply,
There are issues ryt

[2021-03-21 16:46] yvkrishna commented on #20
Hey @rajeshpanjiyar , Updating readme requires discussion of the mentors and myself. so please try to maintain contribution.md file and put your content over there.

Thanks for choosing this project 😄

[2021-03-21 16:48] yvkrishna commented on #14
Hello participants, sorry for the late reply. We will be checking each of your pr's. Give us some time. Everyone of us are currently busy with daily works. You can start contributing for other issues. 😃

[2021-03-21 16:48] yvkrishna commented on #22
yeah you can work on it. WE will look into it 😄

[2021-03-21 16:54] yvkrishna commented on #5
Yeah you can work on it. We will be assigning members for the second round as there would be selected participants at that time. Anyway the mentor team would discuss on it. Thanks for your participation.

[2021-03-21 16:56] yvkrishna commented on #8
thanks @Elizah550  and @Dhriti-Roy  for your intrest. You can start contributing, we will assign the members for the second round for girl script summer of code. 😃

[2021-03-21 16:57] yvkrishna commented on #10
yeah definitely.

[2021-03-21 16:58] yvkrishna commented on #12
Up to now there are so many requests coming up for the same issue. Can you please work on other issues?

[2021-03-21 16:59] yvkrishna commented on #12
Dear Gssoc21 participants, You can start contributing, we will assign the members for the second round for the girl script summer of code. 😃

[2021-03-21 17:00] yvkrishna commented on #14
no problem.

[2021-03-21 17:07] RiyaVashishtha commented on #14
No problem

[2021-03-22 11:11] aditi1403 opened #25 "Update README.md file"
I have made minor grammatical edits to the README.md file. Kindly refer to PR #24.

[2021-03-29 04:34] iamansoni commented on #12
Is this issue still needs to be addressed!
If yes, you can assign it to me!

[2021-03-30 07:58] chebroluharika commented on #17
@yvkrishna There are no IssueTemplates configured for this repo. Issue and Issue Template is different.
Issue Template is basically used to customize information that user should provide to create an issue.
For more information, please refer [https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-and-pull-requests/about-issue-and-pull-request-templates]
@Aryamanz29  Yes,

[2021-03-30 08:00] chebroluharika commented on #12
@iamansoni yes, it was addresses as a part of https://github.com/flow2ml/Flow2ML/pull/21

[2021-03-30 08:02] chebroluharika commented on #12
@yvkrishna Please close this issue as it is a duplicate of https://github.com/flow2ml/Flow2ML/pull/21

[2021-03-30 08:47] Aryamanz29 commented on #17
@chebroluharika  Kindly review my PR

[2021-03-30 17:30] rubyruins opened #28 "Color reversal in filters feature"
For the example image given below, I applied the filters functionality on it:
![apple_3](https://user-images.githubusercontent.com/50259869/113029885-9aa67480-91aa-11eb-9d85-10c77b08f64a.jpg)

This is the result after applying Gaussian filter on the image:
![gaussianapple_3](https://user-images.githubusercontent.com/50259869/113029951-b1e56200-91aa-11eb-80a0-72690be36a96.jpg)

This is the median f

[2021-03-31 06:35] chebroluharika commented on #28
@rubyruins Yes, please go ahead and raise PR with fix after you work on this.

[2021-03-31 06:45] chebroluharika opened #29 "Update .gitignore file"
A gitignore file specifies intentionally untracked files that Git should ignore.
Update a gitignore file and include *.egg-info package as it gets created when we run setup-tools to upload package to Pypi. Hence, it doesn't needs to be tracked by Git.

[2021-03-31 07:14] rubyruins commented on #28
Thank you, will do

[2021-03-31 07:27] subhanjan160901 commented on #9
Is this issue closed? If not, I would want to work on it

[2021-03-31 07:28] #14 closed

[2021-03-31 07:30] chebroluharika commented on #9
@subhanjan160901 this is live. Please go ahead and work on it
Raise PR with fix once its done. Thanks.

[2021-03-31 07:39] #20 closed

[2021-03-31 07:45] chebroluharika commented on #25
Closing this as associated PR was merged.

[2021-03-31 07:45] #25 closed

[2021-03-31 07:46] chebroluharika commented on #12
Closing this as associated PR was merged.

[2021-03-31 07:46] #12 closed

[2021-03-31 07:48] #8 closed

[2021-03-31 07:55] chebroluharika opened #30 "Updates for README.md"
1. Provide link to contributing.md file under contribution section.
2. Provide proper introduction.

[2021-03-31 08:01] chebroluharika opened #31 "Create github workflow"
Create GitHub workflow for below scenarios
1. Run syntax checks for .py files for every pull-request.
2. Publish package to pip whenever there is a new release published in GitHub.

[2021-03-31 08:03] chebroluharika commented on #13
@Sibasish-Padhy Sorry, @itsIapetus already worked on it and raised PR for it.

[2021-03-31 08:12] chebroluharika opened #32 "Bug in create_dataset() and prepare_dataset() in DataLoader.py"
There were few fixes needed for DataLoader.py file.
1. Fixing post mentioned error in createDataSet function.

Percent: [##########] 100% Filtered all images in apple ...
Percent: [##########] 100% Filtered all images in banana ...

Percent: [----------] 0.0% Traceback (most recent call last):
  File "tryout.py", line 18, in <module>
    (train_x, train_y, val_x, val_y) = flow.getDataset( img_dime

[2021-03-31 08:15] #22 closed

[2021-03-31 08:17] rubyruins commented on #32
Hi, as discussed last night, I can go ahead with this issue, right?

[2021-03-31 08:18] chebroluharika commented on #32
yes, please work on it and raise PR with fix.

[2021-03-31 08:25] chebroluharika opened #34 "Improving code quality"
1. Add exception handling for all scenarios like file management, for loop exhaust, OS management etc.,
2. Add Documentation wherever required.
3. Removed commented code.

[2021-03-31 08:31] chebroluharika commented on #10
@yvkrishna @rubyruins I will close this once https://github.com/flow2ml/Flow2ML/issues/32 is fixed.

[2021-03-31 08:37] chebroluharika opened #35 "Automated unit tests for functionalities"
Now, as we are working in Test Driven Environment, writing unit tests is crucial for any software development.
1. Write unit tests for methods in .py files using pytest or unittest framework.
2. Create github workflow to run those unit tests for every pull-request raised.
3. Make sure that coverage should be above 90%

[2021-03-31 14:32] himanshu007-creator commented on #30
hi, i would like to work on this issue, please assign me this.

[2021-03-31 14:34] chebroluharika commented on #29
@rubyruins okay, sounds good

[2021-03-31 14:36] chebroluharika commented on #30
Yes @himanshu007-creator I assigned it to you. Please work on it.

[2021-03-31 17:12] #28 closed

[2021-03-31 17:14] #30 closed

[2021-04-01 02:37] iamansoni commented on #34
I would like to work on this task, you can assign this issue to me!
Also, it is to be done for all the `.py` files, or is there any specific one that you are addressing to?

[2021-04-01 03:07] chebroluharika commented on #34
@iamansoni please work for all .py files indirectly we need to qualify an entire code.

[2021-04-01 03:09] #29 closed

[2021-04-01 11:57] anirudhsai20 opened #40 "Readme file enhancement"
The Readme file can be enhanced by adding a list of all the Open Source programs in which this project was listed in.

[2021-04-01 11:57] anirudhsai20 commented on #40
Hi! Please allow me to work on this issue under GSSOC.

[2021-04-01 12:40] rubyruins commented on #31
Hi, could I work on this?

[2021-04-01 12:58] chebroluharika commented on #31
Hi @rubyruins , please goahead

[2021-04-01 18:06] #32 closed

[2021-04-02 05:14] chebroluharika commented on #40
hi @anirudhsai20 , READMe file has already dependencies listed. What exactly you mean by Open Source programs

[2021-04-02 05:16] chebroluharika opened #41 "Test codebase with greyscale images"
Test codebase with greyscale images as input, and also fix bugs if there are any.

[2021-04-02 05:42] #13 closed

[2021-04-02 05:51] anirudhsai20 commented on #40
I will add a list of all the Open Source programs that this project is a part of like the GirlScript Summer of Code, DevScript Winter of Code, etc. Something like this:
![pda](https://user-images.githubusercontent.com/63279440/113385306-82e71000-93a5-11eb-80bf-77553c4fbfdd.png)

[2021-04-02 06:01] chebroluharika commented on #40
@anirudhsai20 , please go ahead and work on it.

[2021-04-02 06:22] chebroluharika commented on #10
Closing this as associated issue was closed.

[2021-04-02 06:22] #10 closed

[2021-04-02 10:04] yvkrishna opened #42 "Create Logo"
To create a new Logo for this organization.
Need UI developers.

[2021-04-02 12:06] anirudhsai20 commented on #40
Sure. I will add those as well.

[2021-04-02 12:21] anirudhsai20 commented on #40
Add by features, do you mean the features of this repository like Low-code, enables fast design and customization of ML work flows, etc. ?
And are these the only two technologies used in this repository? - Python, HTML, Machine Learning ?

[2021-04-02 12:31] chebroluharika commented on #40
I think you can add OpenCV also under tech used. @yvkrishna Whats your comment here?

[2021-04-02 12:46] yvkrishna commented on #40
yes. It's one of the main packages used.

[2021-04-02 12:48] chebroluharika commented on #40
@yvkrishna please mention if there are any other additional tech present?

[2021-04-02 14:02] yvkrishna commented on #40
opencv and numpy are the main packages till now.

[2021-04-03 04:15] anirudhsai20 commented on #40
Please let me know whether I am right about the features.

[2021-04-05 11:34] yvkrishna commented on #9
@rubyruins any update regarding this issue ?

[2021-04-05 11:36] rubyruins commented on #9
I think @subhanjan160901 is assigned to this and working on it.. if not I will be happy to take this issue up.

[2021-04-05 11:37] rubyruins commented on #35
I'd like to take up this issue.

[2021-04-05 11:54] yvkrishna opened #44 "Automating Results"
### **Feature request**:
Results are another main part of any machine learning project. Results consist of accuracy-loss plots, confusion matrix,  ROC curves, etc. Flow2Ml focuses on making the entire pipeline of machine learning much easier.  Thus In this feature issue, I propose another idea of automating the results.

### **The Idea**:
A class should be created which contains various methods fo

[2021-04-06 08:24] shikha-16 commented on #42
Hey! I can do this, please assign it to me!

[2021-04-07 07:33] chebroluharika commented on #42
@shikha-16  Please go ahead and work on it.

[2021-04-09 03:56] #40 closed

[2021-04-09 04:05] chebroluharika commented on #42
@shikha-16 Please attach screenshots here that you have worked till now. So that everyone can pitch in their ideas.

[2021-04-09 04:14] chebroluharika opened #46 "Making code compatible enough for non-image datasets"
Need automating functionalities like

- exploring data,
- check missing values count,
- check if there are duplicate values in columns,
- visualizing features with scatter plots,
- plot correlation matrix,
- one hot encoding for target categorical variables if there are any etc.,

which are initial pre-processing steps for non-image data.

Please feel free to add like those steps as apart of this

[2021-04-09 05:34] shikha-16 commented on #42
Sure @chebroluharika
![image](https://user-images.githubusercontent.com/68149849/114133062-129b3a00-9923-11eb-8343-270a1589e8ce.png)
![image](https://user-images.githubusercontent.com/68149849/114133107-25ae0a00-9923-11eb-9f5b-b0e2efc2deb9.png)
![image](https://user-images.githubusercontent.com/68149849/114133121-2c3c8180-9923-11eb-80c9-a6d4c1b1c663.png)
![image](https://user-images.githubusercont

[2021-04-09 15:58] AshuKV commented on #46
Can I work on this issue under GSSOC21? Kindly assign it to me.

[2021-04-10 09:25] shikha-16 commented on #42
@chebroluharika @yvkrishna please review

[2021-04-11 07:43] yvkrishna commented on #46
yeah, you can start working on it. @AshuKV

[2021-04-11 14:58] Rajeswari0410 commented on #9
If this issue is not done then i would like to work on it

[2021-04-11 16:59] yvkrishna commented on #9
I think @subhanjan160901 is inactive. @chebroluharika, I think we can assign this issue to others.

[2021-04-11 17:12] chebroluharika commented on #9
Sure @yvkrishna

[2021-04-11 17:29] yvkrishna commented on #42
The final one is looking nice as compared with others. Can you improve the design a bit more. like color and few adjustments.

[2021-04-11 17:33] yvkrishna commented on #9
@Rajeswari0410 @rubyruins anyone of you can take up this issue. 👍

[2021-04-11 17:35] rubyruins commented on #9
I would like to give it a try. So we need to add the Flipping, Rotation, Shearing, Cropping, Zoom in, Zoom out, scaling functions to it, right?

[2021-04-11 17:52] #31 closed

[2021-04-12 09:34] vermatanu commented on #5
Hi, can anyone tell me the details required for this? i want to work on this issue
kindly assign it to me as well

[2021-04-12 14:00] SAHU-01 commented on #42
//cc @yvkrishna Here are few of my logo ideas let me know if you like it

![Flow2ML (1)](https://user-images.githubusercontent.com/71656941/114406066-db4bb800-9bc4-11eb-9988-12559c6e224d.png)

![Flow2ML](https://user-images.githubusercontent.com/71656941/114406224-fe766780-9bc4-11eb-935a-1505d5243813.png)

![image](https://user-images.githubusercontent.com/71656941/114406270-07ffcf80-9bc5-11eb-8f0

[2021-04-12 16:59] yvkrishna commented on #42
@SAHU-01 we are trying to make a logo as part of this issue. your's look like a poster background. we may use them for any ppt.
A logo must look simpler and easily recognizable. I hope you get it.

[2021-04-12 18:37] anubhav201241 opened #47 "Face_Recognition using KNN"
Hi, I'm a Gssoc'21 participant and want to contribute to your repository
 I want to contribute the face_detection part using Knn Algorithm which detects the face with the help of  KNN algorithm

@yvkrishna Please assign this part to me

[2021-04-12 18:38] chebroluharika commented on #47
@anubhav201241 can you please explain how will this fit into this project

[2021-04-12 18:43] anubhav201241 commented on #47
@chebroluharika Sure, as KNN is a Machine learning algorithm and this project is about machine learning and python so I thought it will fit because it is also a part of machine learning and as face_detection is a technology used for detecting the face and I use python and Knn in this so that's why I think this is fit for the project. This was my point of view.

[2021-04-12 18:49] yvkrishna commented on #47
@anubhav201241 , this package tries to output training, validation datasets. But this package is not used for training any model. Presently it only generates the datasets.

[2021-04-12 19:06] anubhav201241 commented on #47
Ok sir

[2021-04-12 19:06] #47 closed

[2021-04-13 05:05] Anushka0483 commented on #42
can i work on the same ? if yes , please assign this to me .
@chebroluharika

[2021-04-13 05:09] chebroluharika commented on #42
@Anushka0483 goahead and work on it. Lets see whose logo will be final one. Then we will look into assigness section. Sounds good?

[2021-04-13 11:37] jaswaniyogita commented on #42
![Blue and White Gaming Logo](https://user-images.githubusercontent.com/69522588/114546422-c03b7f80-9c7a-11eb-9bf7-1bcb9f0d3eba.png)

How about this?

[2021-04-13 12:49] shikha-16 commented on #42
![image](https://user-images.githubusercontent.com/68149849/114554779-b3bc2480-9c84-11eb-950c-e612f5c9c63c.png)
![image](https://user-images.githubusercontent.com/68149849/114554810-bae33280-9c84-11eb-8839-51df7bcd31cf.png)

The watermark will be removed, so do not worry about that.
Also, since I have been working on this since before, kindly do not assign this to someone else. Thanks

[2021-04-13 13:30] yvkrishna commented on #42
I think your's previous one was good

[2021-04-13 13:31] yvkrishna commented on #42
For me the previous ones looked nice.

[2021-04-13 13:33] yvkrishna commented on #9
okay 👍

[2021-04-13 14:11] shikha-16 commented on #42
![image](https://user-images.githubusercontent.com/68149849/114566746-326a8f00-9c90-11eb-858f-9a07d33fe00b.png)
 This one is with Roboto font

[2021-04-14 05:50] jaswaniyogita commented on #42
I am a mentor and here just to guide you, so don't worry we aren't assigning it to someone else. I have suggested some changes to you over discord. Please go through those.

[2021-04-14 17:24] shikha-16 commented on #42
![image](https://user-images.githubusercontent.com/68149849/114751196-7766f200-9d72-11eb-9442-ea5a34681552.png)
![image](https://user-images.githubusercontent.com/68149849/114752821-5901f600-9d74-11eb-9d91-c767bf356f5e.png)
![image](https://user-images.githubusercontent.com/68149849/114751562-eba19580-9d72-11eb-9318-b53039a7476a.png)

[2021-04-14 18:54] rubyruins opened #48 "Duplicate images being stored after processing"
# Current Behavior:

Currently, this is the code I have run:

[code]

I have used 2 classes with 5 images each in for the filters feature. A new folder processedData contains the processed images with the filters applied, however, the processed images are also present in the original folder data_dir containing the class images. **The same image is duplicated and stored in 2 different places.** Scr

[2021-04-15 07:23] Preeti2095 commented on #41
I would like to work on this issue.

[2021-04-15 07:25] chebroluharika commented on #48
@yvkrishna Can you please respond here. Is that an expected behavior?

[2021-04-15 07:25] chebroluharika commented on #46
@AshuKV Do we have any update on this?

[2021-04-15 07:26] chebroluharika commented on #41
@Preeti2095 Please goahead and work on this and do please let us know
when can we expect the deliverable?

[2021-04-15 07:27] chebroluharika commented on #34
@iamansoni Do we have nay update on this?

[2021-04-15 14:58] yvkrishna commented on #48
yes that happens, While I was working on the code, once I have got an error in between the process then the images were moved to processedData folder and the entire process stopped in middle. so at that time Instead of shifting the images I copied and pasted it in processedData folder.

As said by @rubyruins we can try to delete all Filtered applied images folders like MedianImages, etc after tran

[2021-04-15 15:02] yvkrishna commented on #42
@shikha-16, I think now you can stop and try to combine it with the ideas of our mentor @jaswaniyogita. She was also having a design with her. I believe you both can combine your ideas.

[2021-04-15 16:50] ArkaprabhaChakraborty commented on #44
Can I work on this?

[2021-04-16 05:19] rubyruins commented on #48
If we save the images as numpy matrices, they won't be available outside of the program, right? I think having them in folders could be a better option. As you suggested, after the processedData folder is created and filled, we could delete the corresponding images from the original folder?

[2021-04-17 15:10] rubyruins commented on #48
@yvkrishna, what should I do about this, then? Should we remove the duplicate images or close the issue?

[2021-04-17 18:14] yvkrishna commented on #48
we can store it using **self** keyword. With that we can able to store matrices for all the methods in that class.

[2021-04-17 18:16] yvkrishna commented on #48
initially try to store all the images in processedData folder and once copying is done, then you can delete the folders inside each labeled folder.

Once the above step is done, try to store the NumPy matrices as a variable as a class variable. and you can return the variables.

[2021-04-17 18:18] yvkrishna commented on #44
yes you can work on it.

[2021-04-17 18:23] yvkrishna commented on #5
@vermatanu Can you try to work with other issues, because there are further improvements going on. so this is not the perfect time to write examples.

[2021-04-19 10:21] #42 closed

[2021-04-19 10:22] jaswaniyogita commented on #42
We have finalized the logo now.
This is the logo for Flow2ML
![Blue and White Gaming Logo (1)](https://user-images.githubusercontent.com/69522588/115221391-3df20600-a127-11eb-85bc-d70c95962c8f.png)

[2021-04-19 10:24] jaswaniyogita commented on #34
@iamansoni any updates or do we assign it to someone else?

[2021-04-19 18:42] rubyruins commented on #48
@yvkrishna, oh okay. Yeah, I got the first part about deleting the folders inside data_dir. Where should I store it as the class variable?
In this line `(train_x, train_y, val_x, val_y) = flow.getDataset( img_dimensions, test_val_split )`, we are storing the image matrices in the 4 variables, right? Should I also store it anywhere else?

[2021-04-21 10:32] yvkrishna commented on #48
Actually, I am also not much familiar with storing results in the class variable. But you can create a class variable in __init__ function and try to append image arrays to that variables. @chebroluharika or @jaswaniyogita can you try to help in this case?

coming to the line `(train_x, train_y, val_x, val_y) = flow.getDataset( img_dimensions, test_val_split )`  here under the hood, we read each i

[2021-04-21 10:41] yvkrishna opened #50 "Automate Confussion matrix, Roc Curves, Accuracy plots codes."
After training a model, we need to check it using few result metrics like Accuracy plots codes, confusion matrix, Roc Curves, etc.

This issue focuses on coding the functions for those metrics:
- For Accuracy plots:
   - Take the trained model as input and save the model accuracy plots based on the metrics the user has chosen while training.
- For Confusion matrix and Roc Plots:
   - Take the trai

[2021-04-21 10:46] yvkrishna opened #51 "Create a report File"
You will be having the result metrics like confusion matrix, roc curves, etc in a folder.
As part of this issue, one needs to figure out a solution to generate a report.pdf file that contains the following information.

1. Accuracy-Loss plots,
2. Confusion Matrix,
3. Roc Curves

[2021-04-21 10:51] yvkrishna opened #52 "Store image array as a class variables"
Up to now, we tried to store processed images as image files in folders,

This issue focuses on creating a class variable.
All the images would be stored in the class variable and also folders as input by the user.

[2021-04-21 16:47] saniaarora15 commented on #50
Can I work on this under Gssoc21 ?

[2021-04-21 16:50] rubyruins commented on #48
Oh, okay!

[2021-04-21 17:27] yvkrishna commented on #50
yes @saniaarora15 , you can work on this issue and update it in this thread

[2021-04-22 10:57] Saptar001 commented on #52
Hello @yvkrishna , can you please elaborate or explain this issue, as I want to work on it for gssoc,21 ??

[2021-04-22 17:37] yvkrishna commented on #52
@Saptar001, up to now the images after performing filtering are being saved as separate files in their respective folders. In this issue, I want an implementation such that the image matrices should also be stored as python variables i.e class variables.

[2021-04-25 15:16] Trisanu-007 commented on #51
Is this issue taken? If not can it be assigned to me ?

[2021-04-26 06:10] subhangi2731 commented on #52
please assign me this

[2021-04-26 06:11] subhangi2731 commented on #48
please assign me this

[2021-04-26 08:24] yvkrishna commented on #51
okay

[2021-04-26 08:26] yvkrishna commented on #52
@subhangi2731, let me check with @Saptar001.

@Saptar001 any updates. You are working on this ryt.

[2021-04-26 09:45] Saptar001 commented on #52
yess @yvkrishna !

[2021-04-26 10:37] jaswaniyogita commented on #48
Please start working on this. I have assigned this to you.

[2021-04-26 11:27] yvkrishna commented on #52
@subhangi2731 can you try to solve other issues, we would also post a few more of them 😃

[2021-04-26 11:46] chebroluharika commented on #44
@ArkaprabhaChakraborty do we have any update on this?

[2021-04-26 11:47] chebroluharika commented on #35
@rubyruins do we have any update on this?

[2021-04-26 12:34] rubyruins commented on #35
Hi, I have started but got held up with college work in between. I'll definitely try to get it done this week 👍

[2021-04-27 16:36] Trisanu-007 commented on #51
@yvkrishna can you provide some more clarity on this issue, particularly on the result metrics and if possible with an example?

[2021-04-27 18:37] #5 closed

[2021-04-27 18:39] chebroluharika opened #54 "Add "bilateral filter" feature in filters section -"
Implement bilateral filter and incorporate that code in filters.py

[2021-04-28 06:52] yvkrishna commented on #9
re initializing the same issue

[2021-04-28 06:52] #9 closed

[2021-04-28 07:01] yvkrishna opened #55 "Data Augumentation"
Data augmentation plays one of the key roles in any ml project. So need to implement data augmentation techniques such as

1. Flipping
2. Rotation
3. Shearing
4. Cropping
5. Zoom in, Zoom out
6. scaling

using python dictionary. Where the key denotes the data augmentation type. value denotes the amount of that particular technique that needs to be applied

For example
`
augmentation_techniques = {

[2021-04-28 07:04] yvkrishna commented on #55
To make work simpler, I am assigning each of the techniques as separate issues of level 1 each. Please use this thread to discuss anything related to improving techniques.

No one would be assigned to this issue. If you want to contribute then please try the sub-issues with the same topic name.

[2021-04-28 07:06] yvkrishna opened #56 "Data Augumentation -- Flipping"
This is a sub-issue for #55

This issue needs to be resolved asap.

Need to create a method for Data_Augumentation.py file for flipping the image.

[2021-04-28 07:08] yvkrishna opened #57 "Data Augumentation -- Rotation"
This is a sub-issue for #55

This issue needs to be resolved asap.

Need to create a method for Data_Augumentation.py file for rotating the image.

[2021-04-28 07:10] rubyruins commented on #55
Hi @yvkrishna, I was going to start working on this after the unit tests issue. What should I do now? Could I work parallelly on these sub-issues?

[2021-04-28 07:12] yvkrishna opened #58 "Data Augumentation -- Shearing"
This is a sub-issue for #55

This issue needs to be resolved asap.

Need to create a method for Data_Augumentation.py file to apply shearing to the image.

[2021-04-28 07:14] yvkrishna opened #59 "Data Augumentation -- Cropping"
This is a sub-issue for #55

This issue needs to be resolved asap.

Need to create a method for Data_Augumentation.py file for Cropping the image.

[2021-04-28 07:15] yvkrishna opened #60 "Data Augumentation -- Zoom in, Zoom out"
This is a sub-issue for #55

This issue needs to be resolved asap.

Need to create a method for Data_Augumentation.py file for Zooming the image.

[2021-04-28 07:15] yvkrishna opened #61 "Data Augumentation -- scaling"
This is a sub-issue for #55

This issue needs to be resolved asap.

Need to create a method for Data_Augumentation.py file for scaling the image.

[2021-04-28 07:24] yvkrishna opened #62 "Add Examples -Cats Vs Dogs"
Need to add examples for this library. Users can able to understand the usage of the library if they can have a few examples.
Also documenting the example code helps.

Before starting contributing to this issue it is necessary that to complete #55 and its sub-issues.

If data augmentation techniques have also been completed then we can complete this issue.

[2021-04-28 07:29] yvkrishna opened #63 "Add Examples -Horses Vs Humans"
Need to add examples for this library. Users can able to understand the usage of the library if they can have a few examples.
Also documenting the example code helps.

Before starting contributing to this issue it is necessary that to complete #55 and its sub-issues.

If data augmentation techniques have also been completed then we can complete this issue.

[2021-04-28 07:40] yvkrishna commented on #55
Yes you can work on them and send individual pr's

[2021-04-28 12:59] ArkaprabhaChakraborty commented on #44
yes
I have created a class for simple pipelining. I'm working on finalising some stuffs.

[2021-04-28 13:12] rubyruins commented on #55
Thanks, I will start working on it. I have some questions, though. The data augmentation methods will pick up the data from dataset_dir/data_dir right? Where should I stored the augmented images? For instance in filters the filtered images used to be stored in the folder classname/filtername.

Also, given multiple augmentation options, it should apply only one technique at a time, right? For examp

[2021-04-29 05:04] chebroluharika commented on #55
@rubyruins , please go ahead and store images folder wise like class1/zoomedImages etc., but this type of folder structure creates memory exhaust issue when we have huge dataset. Going forward, we should store images in Amazon S3 bucket or Azure lob storage and provide link here during model building.
If you ar fine with it, you can work on it once this augmentation implementation was done.

[2021-04-29 05:09] chebroluharika opened #65 "Implement Morphological Transformations for images"
Implement Morphological Transformations for images like

1. Erosion
2. Dilation
3. Opening
4. Closing

[2021-04-29 05:29] yvkrishna commented on #51
@Trisanu-007, once the #50 issue is resolved then we can expect a folder created inside dataset_dir named as results. In that folder, we would have confusion matrix, ROC curves, Accuracy plots, etc which would be given as input by the user.

Now as part of this issue, you would deal with the results folder. You need to assume that there is a confusion matrix, roc curves and accuracy plots inside t

[2021-04-29 05:49] yvkrishna opened #66 "Complete visualizeFilters method in Filters.py File"
[In Filters.py file](https://github.com/flow2ml/Flow2ML/blob/main/flow2ml/Filters.py) At last there is a method named visualizeFilters().

In general, if a user tries to apply few filters then their respective image data would be stored in processedData folder.
As part of this issue, we need to take an original sample image and their filtered versions and plot the original image vs filtered versio

[2021-04-29 06:21] rubyruins commented on #55
@chebroluharika, okay, thanks for clarifying!

[2021-04-29 06:45] rubyruins commented on #56
Hi @yvkrishna, I am working on this and have a doubt. In flipping with opencv, we use the argument 0 for flipping on x axis, 1 for flipping on y axis and -1 for flipping on both axis. In this case, when the user applies the technique, should they call it this way

`augmentation_techniques = { flipping:1 }` (can take 1, -1, 0)

or this way

`augmentation_techniques = { flipping:'horizontal' }` (can

[2021-04-29 09:04] chebroluharika opened #68 "Add Discord channel link in Readme"
Add Discord channel link and badge for LICENSE in Readme

[2021-04-29 10:01] chebroluharika commented on #41
@Preeti2095 Do we have any update on this?

[2021-04-29 10:05] chebroluharika commented on #50
@saniaarora15 do we have any update on this?

[2021-04-29 10:06] chebroluharika commented on #46
As there is no response from @AshuKV, unassigning it.

[2021-04-29 10:06] chebroluharika commented on #34
As there is no proper update, unassigning it.

[2021-04-29 10:08] chebroluharika commented on #44
@ArkaprabhaChakraborty when can we expect the ouput?

[2021-04-29 10:12] ArkaprabhaChakraborty commented on #44
By 2nd May, 2021.

[2021-04-29 11:40] Preeti2095 commented on #41
Yes I am doing it, I am getting some errors that's why it is taking me a bit of time. I will complete it soon.

[2021-04-29 11:41] Preeti2095 commented on #41
You can confirm this with @yvkrishna.

[2021-04-29 17:21] saniaarora15 commented on #50
It will be done by 1st may.

[2021-04-30 05:43] ASLManasa commented on #68
I am gssoc'21 particpant Can I work on this issue. Thank you

[2021-05-01 11:17] yvkrishna commented on #56
I think It would be better if it is in this way
`augmentation_techniques = { flipping:'horizontal' }`

[2021-05-01 11:26] yvkrishna commented on #68
@ASLManasa  You can proceed

[2021-05-01 11:28] rubyruins commented on #56
@yvkrishna, okay, so flipping: 'vertical' should map to flip: 0, 'horizontal' maps to flip: 1, and 'cross' should map to flip: -1, right?

[2021-05-01 12:42] ASLManasa commented on #68
Ok sure. Thanks

[2021-05-01 12:44] chebroluharika commented on #51
@yvkrishna Is this duplicate of #44. If not. please make me understand what makes them different to each other

[2021-05-01 14:30] Preeti2095 commented on #41
I am getting so much of error don't know why, so I am not working in this issue now @chebroluharika. Thank you for letting me work in this issue and sorry for disappointing you mentors.

[2021-05-01 17:13] chebroluharika opened #70 "Improve code standards as per PEP8"
Modify entire code as per PEP8 standard

[2021-05-01 17:55] AshuKV commented on #70
Can I work on this issue under GSSoC'21? Kindly assign it to me.

[2021-05-01 18:57] chebroluharika commented on #70
@AshuKV please go ahead and work on it. When can we expect deliverable?

[2021-05-01 18:59] chebroluharika commented on #41
@Preeti2095 you will get errors when you test with 2 channel images. Thats expected. Right now code works for 3 channel data.

[2021-05-02 03:14] yvkrishna commented on #51
I thought #44 is a big issue so I thought of splitting the work into parts and created 2 issues, this is one among them.

[2021-05-02 05:51] chebroluharika commented on #48
@subhangi2731 do we have any update on this?

[2021-05-02 08:08] #56 closed

[2021-05-02 08:10] chebroluharika commented on #55
@rubyruins when can we expect the completion of this total task?

[2021-05-02 08:22] chebroluharika opened #71 "Visualize countPlot of categories after loading dataset"
This should be the pipeline:

1. After initializing and getting classNames of dataset_dir that we pass, calculate the number of images are present in each classificationType.
2. Display the count on console.
3. Load that countplot in a pdf with visualization.
4 If class-imbalance problem exists, give an option to user if he want to view that pdf, if "Y", then display it.
5. Then show message sayin

[2021-05-02 08:49] chebroluharika opened #72 "Add exception handing for os related commands"
Add proper exception handling for os related commands
os.mkdir() - it creates a new directory in given specific path.

Now let's say, what if directory with that given name already exists?
Create a utility function with below mentioned pipeline and call this function wherever you want to create a new directory using os.mkdir()
Display a message on console saying "Directory with same name already e

[2021-05-02 08:50] rubyruins commented on #55
I will do it by Friday this week (May 7) since there are 5 sub parts, so it will take me a while. Hope that's okay.

[2021-05-02 08:51] chebroluharika commented on #51
@yvkrishna  @Trisanu-007 I think this is addressed as a part of https://github.com/flow2ml/Flow2ML/pull/69/files

[2021-05-02 08:53] chebroluharika commented on #51
Hence, closing this. Please feel free to reopen if you find any issues.

[2021-05-02 08:53] #51 closed

[2021-05-02 08:54] chebroluharika commented on #50
@saniaarora15 are you on track?

[2021-05-02 09:29] chebroluharika commented on #55
@rubyruins as code would be almost similar with your previous PR i.e., implementing flip operation, I think these 5 PRs won’t take much time. Anyways try to complete as fast as possible

[2021-05-02 09:44] rubyruins commented on #55
Yes, sure. I will try to do it as soon as I can.

[2021-05-02 11:22] yvkrishna commented on #55
@rubyruins, @chebroluharika  Just wanted to raise another technique,
we can try to change the brightness of an image as well as part of the image augmentation technique.

***Log Transformation***`s = c log(1+ r)
We can use the np.log() method to change the brightness of the image. The Log transformation is generally used for transforming a narrow range of pixel values into a wide range.

***Power-

[2021-05-02 11:24] yvkrishna commented on #55
@rubyruins If you are done with the other methods then I think you can try this method also. This just takes a maximum of 2-3 lines of code only.

[2021-05-02 11:42] rubyruins commented on #55
@yvkrishna, sure, I could add this too.

[2021-05-02 15:26] AshuKV commented on #70
Thanks @chebroluharika, I would send a PR for this issue within 4-5 days.

[2021-05-03 14:37] #57 closed

[2021-05-03 14:37] #35 closed

[2021-05-05 14:28] noobkid2411 commented on #54
Hi,I would like to work on this issue!

[2021-05-07 18:14] #44 closed

[2021-05-07 18:36] chebroluharika commented on #54
@noobkid2411 go ahead please. By when we can expect output?

[2021-05-08 04:31] chebroluharika commented on #54
Sure @noobkid2411

[2021-05-08 13:20] ArkaprabhaChakraborty opened #75 "Add automated analysis support for tensorflow models"
- [x] I checked to make sure that this issue has not already been filed.

- [x] I'm reporting the issue to the correct repository (for multi-repository projects) **(optional)**

# Expected Behavior:
There should be a class for automated evaluation of tensorflow models that will accept the model's history as an input and make the roc curves, confusion matrix and pr curves. The class can have an add

[2021-05-08 14:41] yvkrishna commented on #75
@ArkaprabhaChakraborty, I am assigning this to you.

[2021-05-08 14:43] ArkaprabhaChakraborty commented on #75
Roger that !!

[2021-05-08 15:01] yvkrishna opened #76 "Deploying tensorflow models"
You will be having the TensorFlow model trained using the data.
As part of this issue, we need to automate the process of model deployment using TensorFlow method like tfjs.converters.save_keras_model()

As part of this issue,

1. we need to use the flow.py file.
2. We need to have deploy_tensorflow_model() as a class method in it which can be used to convert the input model to tfjs model or tflit

[2021-05-08 16:17] ainy-123 commented on #76
I am GSSoC'21 participant. I want to work on this issue.
kindly assign this to me.

[2021-05-08 16:22] ainy-123 commented on #60
I am GSSoC'21 participant .I want to work on this issue.
Kindly assign this to me.

[2021-05-08 16:23] ainy-123 commented on #59
I am GSSoC'21 participant .I want to work on this issue.
Kindly assign this to me.

[2021-05-08 16:23] ainy-123 commented on #58
I am GSSoC'21 participant .I want to work on this issue.
Kindly assign this to me.

[2021-05-08 16:23] ainy-123 commented on #61
I am GSSoC'21 participant .I want to work on this issue.
Kindly assign this to me.

[2021-05-08 18:43] yvkrishna commented on #76
@ainy-123, you can start working on it

[2021-05-09 00:19] ainy-123 commented on #76
Thanks for assigning . @yvkrishna

[2021-05-09 04:43] chebroluharika commented on #76
@ainy-123 when can we expect output?

[2021-05-09 04:46] #58 closed

[2021-05-09 04:48] chebroluharika commented on #61
@ainy-123 Please work on #66 firstly. After completion of that, feel free to take up another issue. Because we should give chance to others also right!
Hope you understand.

[2021-05-09 05:06] ainy-123 commented on #61
Ok thanks! But #66  is not assigned to me,I  think you are talking about #76.

[2021-05-09 09:16] yvkrishna commented on #59
I think we can use random cropping technique.

We can use numpy to generate random value between 0 and max_height, max_width and select that region of image.

You can take Boolean value from user wether to take random crop or not.

[2021-05-09 11:13] yvkrishna commented on #60
@ainy-123, @rubyruins is already working on this issue i.e data augmentation. You can take up other issues 😃

[2021-05-09 11:42] rubyruins commented on #59
@yvkrishna, oh, okay! So for each image, we would be generating those 4 random coordinates and cropping according to that? Or would we just generate the random coordinates once and then crop each image according to those points?
Also, if the user selects not to go with the random crop, what should I put in the alternative option? They need to manually give us points to crop?

[2021-05-10 18:18] #54 closed

[2021-05-10 18:20] chebroluharika commented on #61
@ainy-123 oh! My mistake
Yes, its #76

[2021-05-10 21:41] ArkaprabhaChakraborty commented on #75
By may 17th

[2021-05-11 00:29] srisatya1197 commented on #72
@chebroluharika I want to work on this issue.

[2021-05-11 06:21] #68 closed

[2021-05-11 06:23] chebroluharika commented on #72
@srisatya1197 yes please goahead!
When can we expect output?

[2021-05-11 08:58] noobkid2411 commented on #63
Hi,I would like to work on adding the various examples required for the users,if data augmentation issue is done with. Can I work on the same?

[2021-05-12 10:30] srisatya1197 commented on #72
Thank you @chebroluharika I'll make pr day after tommorrow.

[2021-05-13 11:07] rubyruins commented on #59
Hi, do let me know how to proceed with this so that I can finish working on this!

[2021-05-13 11:07] rubyruins commented on #59
@yvkrishna Hi, do let me know how to proceed with it so that I can finish working on this!

[2021-05-13 11:08] rubyruins commented on #60
@yvkrishna as per the discussion on Discord, do let me know how to proceed with this since you said you might be modifying the zooming / scaling issue!

[2021-05-13 11:19] chebroluharika commented on #59
Yes @rubyruins ask for a boolean value to user. If yes, go with random points else ask them to provide points to crop the image.

[2021-05-15 11:31] yvkrishna commented on #63
yeah @noobkid2411, You can work on it.

[2021-05-15 11:33] yvkrishna commented on #60
@rubyruins, Sorry for the delay,

You can work on Zooming

[2021-05-15 11:36] yvkrishna commented on #61
sorry,
We can work on #60 instead of this one.

[2021-05-15 11:36] #61 closed

[2021-05-15 11:37] yvkrishna commented on #59
yes, @rubyruins we can expect this kind of behaviour

[2021-05-15 11:40] yvkrishna commented on #48
@subhangi2731, Can you please give us update on this ?

[2021-05-15 11:46] subhangi2731 commented on #48
@yvkrishna I am working on this I will give u an update by today night

[2021-05-15 11:53] noobkid2411 commented on #63
Hey,thanks for responding.unfortunately I have a health emergency in my family to deal with.I would still like to contribute but I might not be able to make a pr before the 20th.If this is an urgent work,you can unassign me,sorry for the inconvenience from my side.

[2021-05-15 12:39] yvkrishna commented on #48
Okay 👍

[2021-05-15 12:40] yvkrishna commented on #63
No problem.

We will look into that.

Be safe

[2021-05-16 12:38] rubyruins commented on #59
So for every image will the same set of random points be used or will we generate new ones every time? Also the same with providing points, do we accept a set of points in the start and use that?

[2021-05-16 12:51] chebroluharika commented on #59
@rubyruins generate new random points everytime and crop image accordingly, visualize them. Ask for a user to continue with the result image if yes, save it in respective folder else ask user to provide points.

[2021-05-17 14:51] ArkaprabhaChakraborty commented on #62
Anyone working on this? If not then you can assign this to me.

[2021-05-17 17:20] #59 closed

[2021-05-17 17:23] #75 closed

[2021-05-17 17:25] #70 closed

[2021-05-17 17:26] chebroluharika commented on #76
@ainy-123 any update?

[2021-05-17 17:27] chebroluharika commented on #60
@rubyruins are you clear with this issue to implement?

[2021-05-17 17:28] chebroluharika commented on #72
@srisatya1197 do we have any update on this?

[2021-05-17 17:28] chebroluharika commented on #62
@ArkaprabhaChakraborty yes, please go ahead

[2021-05-17 17:29] chebroluharika commented on #62
@ArkaprabhaChakraborty when can we expect output for this?

[2021-05-17 17:31] chebroluharika commented on #52
@Saptar001 do we have any update on this?

[2021-05-17 17:32] chebroluharika commented on #48
@subhangi2731 can we expect output by tomorrow EOD?

[2021-05-17 17:33] ArkaprabhaChakraborty commented on #62
uhh after May 28th !?

[2021-05-17 17:34] chebroluharika commented on #62
I presume this program ends by end of this month. So try to complete it asap

[2021-05-17 17:35] Saptar001 commented on #52
@chebroluharika yes, and I have shared my work in the discord group flowML 2days back..and also @yvkrishna has seen my work.

Please go through my work out there and give your reviews.

Thank you :)

[2021-05-17 17:38] ArkaprabhaChakraborty commented on #62
Doesn't matter to me... I don't do open source explicitly for such programmes. But yes if it matters to the organisation then I will try to complete it before the 28th. :)

[2021-05-17 17:57] rubyruins opened #83 "Requirements not updated"
### **Describe the bug:**
Running `pip install -r requirements.txt` gives the following error:

![image](https://user-images.githubusercontent.com/50259869/118534533-f92daf00-b766-11eb-8318-2424f1664562.png)

### **To Reproduce:**
Please provide the steps to reproduce this bug/error:
This issue is faced when working in a virtual environment and trying to run any sample code from this package.  I t

[2021-05-17 18:45] chebroluharika commented on #83
@ArkaprabhaChakraborty can you look into this

[2021-05-17 18:49] chebroluharika commented on #52
@Saptar001 please raise a PR here, otherwise it will be difficult to validate if its in another way.

[2021-05-17 19:06] ArkaprabhaChakraborty commented on #83
got it

[2021-05-17 19:29] chebroluharika opened #85 "Implement Invert operation as one of Augmentation technique"
Create a class to negate images. That is to reverse the pixel values  for any image processed by it.

[2021-05-17 19:32] chebroluharika opened #86 "Implement Histogram Equalisation as a part of Augmentations"
Create a class:`HistogramEqualisation` In Data_Augmentations.py to perform histogram    equalisation on images.

[2021-05-17 19:35] chebroluharika opened #87 "Implement a functionality to convert images to Greyscale as part of Augmentations"
This class is used to convert images into greyscale. That is, it converts    images into having only shades of grey (pixel value intensities)    varying from 0 to 255 which represent black and white respectively.

[2021-05-17 19:38] chebroluharika opened #88 "Implement Enhance brightness for images as apart of Augmentations"
Implement a class to enhance image brightness  of a image

[2021-05-18 19:04] #83 closed

[2021-05-19 05:30] prakharshreyash15 commented on #88
Can you please assign me this issue?

[2021-05-19 05:37] chebroluharika commented on #88
Hi @prakharshreyash15 please go ahead and work on this.
When can we expect output for this?

[2021-05-19 15:04] yvkrishna commented on #76
@ainy-123 can you please update your work here.
The deadline is approaching !!!

[2021-05-19 16:31] chebroluharika opened #91 "Calculate image quality score for all images that are stored in ProcessedData folder"
Include the code to
1. calculate IQA(Image quality scores) for all images in ProcessedData folder.
2. Load all those scores respectively with imageName in a document.

[2021-05-19 16:38] chebroluharika opened #92 "Create connection between Augmentations and Filters"
Right now, filters and augmentations work on original images.
But if user wants to apply filters on augmentated images, which is not implemented.
Now implement code for
1. Create connection between filters.py and Augmentations.py in such a way that user should be able to apply filters on augmented images(those are stored in ProcessedData folder)

[2021-05-19 17:44] #60 closed

[2021-05-19 18:00] darpankhanna opened #94 "Updation of Pull Request Template"
I want to update this template and make it similar to Theos template.

[2021-05-19 18:01] darpankhanna commented on #94
@chebroluharika  can u please assign me this issue

[2021-05-19 18:14] chebroluharika commented on #94
@darpankhanna please update the description of this issue like what you want to change in PR template?

[2021-05-20 03:33] srisatya1197 commented on #72
Sorry @chebroluharika I couldn't complete. I'm booked with other work.

[2021-05-20 04:34] a-ma-n commented on #63
Can I help with this issue?
Also, can I show an example of a CNN  for this issue?

[2021-05-20 04:51] rubyruins commented on #87
Hi @chebroluharika, I would like to work on this after the completion of #41 since the issues are related. Is it okay?

[2021-05-20 04:54] chebroluharika commented on #87
@rubyruins yes, please go ahead

[2021-05-20 05:58] ainy-123 commented on #76
sorry for delay ,kindly review and merge the PR.

[2021-05-20 06:17] ainy-123 commented on #86
I am GSSoC'21 participant and I want to work on this issue.
Will you please assign this to me?

[2021-05-20 06:22] chebroluharika commented on #86
@ainy-123 please go ahead and work on it.
can you please let us know about when can we expect deliverable for this to be out?

[2021-05-20 06:28] chebroluharika commented on #94
@darpankhanna thanks for updating description. Can you please make me understand for necessity of this change when there is already a pullrequest template is in place.

[2021-05-20 06:45] chebroluharika commented on #55
As brightness and contrast will be taken care by #88, closing this.

[2021-05-20 06:45] #55 closed

[2021-05-20 06:58] ainy-123 commented on #86
latest by tomorrow .I will try to make PR today itself asap.

[2021-05-20 08:30] ainy-123 commented on #85
I am GSSoC'21 participant .I want to work on this issue.
Will you please assign this to me?

[2021-05-20 08:34] chebroluharika commented on #85
@ainy-123 yes, please go ahead and work on this.

[2021-05-20 11:03] #86 closed

[2021-05-20 11:46] yvkrishna opened #100 "Deploying pytorch models"
Simillar to tensorflow model deployment to js and tflite

Check if there is any process for model conversion and implement method similar to tensorflow model deployment.

[2021-05-20 12:25] ainy-123 commented on #85
I have raised the PR,Kindly review it.

[2021-05-20 12:30] ainy-123 commented on #65
I am GSSoC'21 participant.I want to work on this issue.
Will you please assign this to me?

[2021-05-20 13:49] ainy-123 opened #103 "Implement thresholding as one of the augumentation technique"
### **Feature request**:
Create a function under data augmentation class to threshold images.

[2021-05-20 13:49] ainy-123 commented on #103
I am GSSoC'21 participant .I want to work on this issue.
Kindly assign this to me.

[2021-05-20 14:36] chebroluharika commented on #103
@ainy-123 yes, I assigned it to you. Please go ahead

[2021-05-20 14:37] chebroluharika commented on #65
@ainy-123 please go ahead

[2021-05-20 14:40] chebroluharika commented on #34
@rubyruins #72 is one of subtasks for this issue.

[2021-05-20 14:47] #87 closed

[2021-05-20 16:20] chebroluharika opened #105 "Implement CLAHE as one of Augmentation technique"
Create a method to implement CLAHE in DataAugmentations.py file.

[2021-05-20 16:44] #105 closed

[2021-05-20 16:55] chebroluharika commented on #34
@rubyruins I assigned issue to you. You can start working on it.

[2021-05-20 16:56] chebroluharika commented on #48
As there is no update from @subhangi2731 since 1 week, unassigning it.

[2021-05-20 19:42] ArkaprabhaChakraborty opened #106 "getDataset() error"
### **Describe the bug:**
![Screenshot from 2021-05-21 01-08-09](https://user-images.githubusercontent.com/58482073/119038895-4c0a9f00-b9d1-11eb-9a15-80d1b420c1d1.png)

### **To Reproduce:**
![Screenshot from 2021-05-21 01-05-08](https://user-images.githubusercontent.com/58482073/119038943-5af15180-b9d1-11eb-949e-add04beae24a.png)

### **Expected behavior:**
To create a directory of processed data

[2021-05-21 02:33] yvkrishna commented on #106
@ArkaprabhaChakraborty, it actually depends on number of images you have in the folders.

How many images fo you have in each label folder ?

[2021-05-21 03:05] chebroluharika commented on #106
@ArkaprabhaChakraborty thats because of the value you have taken for train_test_split can’t split properly for the size your training and test dataset size

[2021-05-21 04:54] ArkaprabhaChakraborty commented on #106
1000+

[2021-05-21 05:36] yvkrishna commented on #106
Images ?

Then check the path.

I don't think we need to give the entire path. Once check it out

[2021-05-21 06:09] rubyruins commented on #106
@yvkrishna I think the error could be since no filters or techniques applied. In `create_dataset,` it creates the processedData folder and one by one moves the augmented or filtered images to that folder. In that function, if you print out the value of `filtered_image` it will print out the path of the augmented / filtered images before copying them to processedData folder.

<img width="500" src="

[2021-05-21 06:29] chebroluharika commented on #106
@ArkaprabhaChakraborty please try to print self.img_label that you are getting from create_dataset, check if there is any content present there.

[2021-05-21 06:31] chebroluharika commented on #106
yes, according to the pipeline thats there in sample code section, this can be the cause of this bug

[2021-05-21 08:27] yvkrishna commented on #106
Yeah, this is also true.

@ArkaprabhaChakraborty, can you put the screenshot of your code.

Acc to me,
Cats vs dogs needs data augumentation before training any custom model so try to apply those methods.

Also the example code snippets should contain the main functions we have used.

[2021-05-21 08:33] chebroluharika commented on #106
@yvkrishna Ideally there should not be any tight coupling between code segments. As there may be the scenarios where user may not require augmentations/filters, in which our code doesn't work as expected.  @rubyruins is working on it.

[2021-05-21 08:40] chebroluharika opened #107 "Automate model building -- Logistic Regression"
Create a new class for Automating Model Building part
1. Create a method to take model name, activation function and metric to evaluate as inputs from user. Lets say LogisticRegression for this issue.
2. If  its LogisticRegression, use params like 'solver' = ['newton-cg', 'lbfgs', 'liblinear'], ['penalty'] = ['none', 'l1', 'l2', 'elasticnet'], ['C'] = [1e-5, 1e-4, 1e-3, 1e-2, 1e-1, 1, 10, 100], us

[2021-05-21 08:44] chebroluharika opened #108 "Automate model building -- Random Forests"
Create a new class for Automating Model Building part
1. Create a method to take model name and metric to evaluate as inputs from user. Lets say Random Forests for this issue.
2. If  its Random Forests, use params like {"max_depth": [3, None], "max_features": randint(1, 50), "min_samples_leaf": randint(1, 50), "criterion": ["gini", "entropy"]}, using hyper parameter tuning find best_params among t

[2021-05-21 09:08] yvkrishna commented on #106
Yeah. The functions should be independent if each other.

@rubyruins go ahead 👍

[2021-05-21 09:12] yvkrishna commented on #106
@ArkaprabhaChakraborty, @rubyruins would work on this issue, meanwhile can you try to create results report file for trained pytorch as well ?

[2021-05-21 09:13] ArkaprabhaChakraborty commented on #106
Pytorch too 🙂. Okay roger that !!!

[2021-05-21 09:34] chebroluharika commented on #106
@yvkrishna please create an issue for that and assign it to @ArkaprabhaChakraborty

[2021-05-21 09:37] yvkrishna commented on #106
I will do it by tonight.

[2021-05-21 10:23] chebroluharika opened #109 "Add automated analysis support for pytorch models"
Create a class for automated evaluation of pytorch models that will accept the model's history as an input and make the roc curves, confusion matrix and pr curves. The class can have an additional method to create a doc file with those plots.

[2021-05-21 10:24] chebroluharika commented on #109
@ArkaprabhaChakraborty Please goahead and work on this.

[2021-05-21 10:25] chebroluharika commented on #94
As I don't see response from @darpankhanna, closing it.
@yvkrishna , @darpankhanna if you really think that this issue makes sense, please feel free to reopen it.

[2021-05-21 10:25] #94 closed

[2021-05-21 10:27] ArkaprabhaChakraborty commented on #109
Okay on it.

[2021-05-21 11:15] chebroluharika commented on #88
As contrast is already implemented using CLAHE and its already merged, I removed contrast functionality from this issue.
@prakharshreyash15 Hence, please work on only enhancing brighness of image.

[2021-05-21 12:43] #106 closed

[2021-05-21 16:04] yvkrishna opened #112 "One-Hot or Numbers (User has to choose)"
As per the code till now, we are getting the outputs of getDataset() method as training data and training labels.

Now we want to add a small functionality that the outputs can be numbers or else one-hot vectors and this has to be chosen by the user.

Based on the user's wish we can either generate output labels as one-hot vectors or else numbers (i.e index of the class names).

[2021-05-22 02:51] ainy-123 opened #115 "Implement canny edge detection technique"
I am GSSoC'21 participant .I want to work on this issue.
Kindly assign me the same.

[2021-05-22 02:55] yvkrishna commented on #115
@ainy-123, that's a filtering technique ryt.

Also a part of that sobelx, sohely have been created in filters.py

[2021-05-22 03:08] chebroluharika commented on #115
@ainy-123 we have enough number of filters implemented already. Can you please work on other tasks as they brings more value to our package. Once they are done, you can takeup this and work. Hope I made some sense.

[2021-05-22 03:46] #65 closed

[2021-05-22 06:42] #34 closed

[2021-05-22 06:42] #72 closed

[2021-05-22 07:43] ainy-123 opened #118 "changing the color-space of the image as part of augmentation."
1. from BGR to RGB
2. from BGR to GRAY
3. from GRAY to BGR
4. from GRAY to RGB

[2021-05-22 07:44] ainy-123 commented on #118
can I work on this issue under GSSoC'21?

[2021-05-22 07:48] yvkrishna commented on #76
Closing this issue. Will reopen if there are any new changes

[2021-05-22 07:49] yvkrishna commented on #115
I am closing this issue temporarily. Will reopen if needed.

[2021-05-22 07:55] chebroluharika commented on #76
@yvkrishna PR for this is not yet merged. Hence, reopening it.

[2021-05-22 07:56] chebroluharika commented on #118
@ainy-123 Please work on this after completing existing issues that are assigned to you.

[2021-05-22 08:11] yvkrishna commented on #76
Okay sry 😬

[2021-05-22 09:46] #103 closed

[2021-05-22 09:47] chebroluharika commented on #118
@ainy-123 there is already one augmentation technique to convert images into greyscale.

[2021-05-22 10:56] AshuKV commented on #108
Can I work on this issue under GSSoC'21? Kindly assign it to me.

[2021-05-22 11:20] chebroluharika commented on #108
@AshuKV please go ahead and work on this. When can we expect deliverable for this?

[2021-05-22 12:24] rubyruins commented on #92
Hi @chebroluharika, actually the processedData folder only gets formed when we split into train and test, that is on calling:
(train_x, train_y, val_x, val_y) = flow.getDataset( img_dimensions, test_val_split )

Without calling getDataset if we just want to augment and filter images, processedData folder does not get created using those functions.

[2021-05-22 12:39] chebroluharika commented on #92
Yes @rubyruins
Here we need code for after applying augmentations if user want to apply filters on them, he should be able to do it and viceversa

[2021-05-22 12:42] chebroluharika commented on #92
something like take list of files/path of file to which operations needs to be applied as input to applyFilters() may work.

[2021-05-22 13:13] ainy-123 commented on #107
I want to work on this issue. Kindly assign this to me.

[2021-05-22 13:20] chebroluharika commented on #107
@ainy-123 You are assigned to this. PLease go ahead and work. When can we expect deliverable for this?

[2021-05-22 13:20] chebroluharika commented on #107
Because we need to implement many more models like this.

[2021-05-22 13:27] ainy-123 commented on #107
latest by tomorrow .I will try to finish by today itself.

[2021-05-22 13:46] chebroluharika commented on #63
@a-ma-n do we have any update on this?

[2021-05-22 16:51] #118 closed

[2021-05-22 17:32] AshuKV commented on #108
I would deliver a PR for this issue within 4-5 days.

[2021-05-22 18:41] rubyruins opened #121 "Requirements not updated"
### Requirements.txt has issues:

![image](https://user-images.githubusercontent.com/50259869/119237537-f530d100-bb5a-11eb-8f78-be5859d28486.png)

![image](https://user-images.githubusercontent.com/50259869/119237553-08dc3780-bb5b-11eb-8aa6-0963fc7a8103.png)

Pandas and seaborn are not added to requirements.txt

### **To Reproduce:**
I have deleted my venv, created a new one and reinstalled all re

[2021-05-22 18:45] chebroluharika commented on #121
@rubyruins can you work on this

[2021-05-22 18:52] rubyruins commented on #121
Done!

[2021-05-22 18:52] #121 closed

[2021-05-23 02:16] yvkrishna commented on #109
@ArkaprabhaChakraborty, when can we expect output for this ?

[2021-05-23 05:47] a-ma-n commented on #63
on it I'm just trying to use the library we need  which is necessary for augumentation

[2021-05-23 06:03] a-ma-n commented on #63
@chebroluharika do I need to run it on a model or just applying the filters is sufficient?

[2021-05-23 06:10] chebroluharika commented on #63
@a-ma-n use this library for end-to-end model training
Prepare dataset using getDataset() and apply required filters and augmentations present in this library, train model (any model because model training is not yet implemented in this library yet), then take that model and predict on test set, import results like roc-auc curve, confusion matrix using AutoResults present in this library.
Hope I a

[2021-05-23 06:13] a-ma-n commented on #63
Sure I got the idea I'll get working on it,
I'm getting this  error
AttributeError: 'Flow' object has no attribute 'applyAugmentation'
I was able to apply filter but not augmentation could you help me with this

[2021-05-23 06:18] a-ma-n commented on #63
Sorry I have an urgent medical condition at home, I don't think ill be able to continue
Thanks for your time and patience.

[2021-05-23 06:20] chebroluharika commented on #63
Np. Take care @a-ma-n

[2021-05-23 09:45] earnsans commented on #112
Hi, I'm a GSSOC'21  participant, could you please assign this issue to me. Will work on it as soon as possible. Thank you.

[2021-05-23 10:35] yvkrishna commented on #112
@earnsans, Yeah, you can work on this.

When can we expect the output?

[2021-05-23 14:36] #92 closed

[2021-05-23 14:52] #76 closed

[2021-05-23 14:57] rubyruins commented on #91
I would like to work on this

[2021-05-24 06:16] ArkaprabhaChakraborty commented on #109
I'm having my exams till the 27th. So maybe after that

[2021-05-24 09:59] chebroluharika commented on #107
Closing this for time being

[2021-05-24 09:59] #107 closed

[2021-05-24 09:59] chebroluharika commented on #108
Closing this for time being

[2021-05-24 09:59] #108 closed

[2021-05-24 12:49] earnsans commented on #112
Thank you :)

[2021-05-24 12:50] earnsans commented on #112
Thank you for assigning this to me.
Can I submit this by 29th may?

[2021-05-24 14:00] #91 closed

[2021-05-24 14:04] yvkrishna commented on #112
@earnsans, go ahead but try to complete asap. We (admin and mentor) need some time for managing all the pr's and issues before gssoc deadline.

[2021-05-24 17:01] earnsans commented on #112
Yeah sure. I'll  take care of that @yvkrishna

[2021-05-24 18:23] A-kriti commented on #88
@chebroluharika ma'am, Are u looking for something like shown below to adjust the contrast of an image accordingly!!

![Screenshot (402)](https://user-images.githubusercontent.com/73133055/119390554-d4978100-bcea-11eb-8d06-76bf48f04d61.png)

If yes!, then pls assign this to me as I used a different method other than CLAHE...

[2021-05-25 06:41] ainy-123 commented on #88
hey @chebroluharika ,Can I work on this issue?

[2021-05-25 06:45] ainy-123 opened #129 "Implement Sift Algorithm"
I am GSSoC'21 participant. I want to work on this issue.
Kindly assign this issue to me.

[2021-05-25 06:49] chebroluharika commented on #129
@ainy-123 why do we need this

[2021-05-25 06:49] chebroluharika commented on #88
@ainy-123 yes, you can work as we didn’t hear any update from @prakharshreyash15 from long back

[2021-05-25 06:55] ainy-123 commented on #129
Sorry ,closing this issue.
It's not required ,I guess.

[2021-05-25 06:55] #129 closed

[2021-05-25 12:57] #115 closed

[2021-05-25 18:02] rubyruins commented on #66
For this issue, how to decide on which image to pick? Also, do this plot need to be saved as an image?

[2021-05-25 18:48] yvkrishna commented on #66
We need to select an image randomly.
Yeah we need to save it where we used to save the pre-processing document.

[2021-05-26 14:47] rubyruins opened #134 "Visualize augmentations"
Would it be a good idea to implement a method visualising the different augmentations for a particular image similar to visualizing all the applied filters?

[2021-05-26 15:08] #66 closed

[2021-05-26 15:09] chebroluharika commented on #134
Yes @rubyruins. It brings value here.
Can you work on this?

[2021-05-26 17:16] rubyruins commented on #134
Thank you. Yes, I would like to take it up

[2021-05-27 12:05] #134 closed, assigned to rubyruins

[2021-05-27 21:09] ArkaprabhaChakraborty commented on #109
Alright so after checking and trying out different scripting codes. I found out the best way to do this for pytorch has been already solved in a previously merged PR. Pytorch allows more tweaking and easier implementations of models with fewer calls to prebuilt functions like tensorflow. So there is almost no shortcut to this process for pytorch. One can use the y_pred and y_true label arrays as a

[2021-05-27 21:12] ArkaprabhaChakraborty commented on #100
The same goes for this issue. There aren't many prebuilt functions or classes for pytorch so there's almost no possible way to this universally.

[2021-05-28 02:02] #109 closed

[2021-05-28 14:25] chebroluharika commented on #48
No @ArkaprabhaChakraborty

[2021-05-28 14:29] ArkaprabhaChakraborty commented on #48
I can work on this.

[2021-05-29 03:44] chebroluharika opened #139 "Calculate entropy as apart of image quality assessment"
Calculate entropy as one of methods while calculating image quality assessment.

[2021-05-29 03:45] #139 closed

[2021-05-30 02:40] chebroluharika opened #141 "Detection of blurred images"
Detect blurred images present in dataset provided by user and display them to user.

[2021-05-30 07:42] #141 closed

[2021-05-30 09:59] yvkrishna commented on #112
@earnsans, any update ?

[2021-05-30 10:01] yvkrishna commented on #52
closing this for time being

[2021-05-30 10:01] #52 closed

[2021-05-30 10:01] earnsans commented on #112
@yvkrishna  I'm working on it.

[2021-05-30 10:02] yvkrishna commented on #48
@ArkaprabhaChakraborty, can you complete this issue before the program period ends ?

[2021-05-30 10:05] #100 closed

[2021-05-30 10:07] yvkrishna commented on #112
okay 👍, go ahead

[2021-05-30 10:08] yvkrishna commented on #62
@ArkaprabhaChakraborty, when can you able to complete this task before the program ends?

[2021-05-30 11:29] ArkaprabhaChakraborty commented on #48
Man the entire code for this is a mixed porridge 🙂

[2021-05-30 11:30] ArkaprabhaChakraborty commented on #48
I dont think I can. The code is so fuzzed up its difgicult to spot "what" is happening "where".

[2021-05-30 12:29] ArkaprabhaChakraborty commented on #62
There was a bug with getdataloader. Was it solved? Because this issue depends on that.

[2021-05-30 13:05] chebroluharika commented on #62
Yes

[2021-05-30 13:13] rubyruins opened #143 "Errors with Tf_results"
### **Describe the bug:**
According to the readme, to use tf_results we must pass the model and a validation generator to it. However, there seems to be some error that prevents it from working correctly.

### **To Reproduce:**
I've created a simple model with a very small dataset using datagenerator. Passing the model and validation generator to the function raises many exceptions:

[code]

The m

[2021-05-30 13:23] chebroluharika commented on #143
@ArkaprabhaChakraborty can you check this. This is important to fix this before program ends

[2021-05-30 14:34] rubyruins commented on #48
I think some of the subsequent code uses images from data_dir in further processing, and processedData is needed for training. So maybe this issue is not relevant now.

[2021-05-30 14:35] chebroluharika commented on #48
Okay closing this.

[2021-05-30 14:35] #48 closed

[2021-05-30 15:00] ArkaprabhaChakraborty commented on #143
can I see the validation generator?

[2021-05-30 16:23] rubyruins commented on #143
Yep, here it is. Let me know if I should make changes to it:

[code]

[2021-05-30 16:27] rubyruins commented on #143
Yep, here it is. Let me know if I should make changes to it:

[code]

[2021-05-30 16:50] ArkaprabhaChakraborty commented on #143
Alright, I'm facing this error :)
![Screenshot from 2021-05-30 22-07-58](https://user-images.githubusercontent.com/58482073/120112840-377a9380-c195-11eb-81c5-f560e11301da.png)

[2021-05-30 16:58] ArkaprabhaChakraborty commented on #143
So I decided to test out Tf_Results.py script. And I got this:
![download](https://user-images.githubusercontent.com/58482073/120112889-7c9ec580-c195-11eb-9b51-f4f6caa1e7b9.png)
![download (1)](https://user-images.githubusercontent.com/58482073/120112890-7f011f80-c195-11eb-9f09-cbe61f791fc5.png)
![download (2)](https://user-images.githubusercontent.com/58482073/120112891-80cae300-c195-11eb-9e0b-f5

[2021-05-30 17:47] rubyruins commented on #143
Update: a solution has been found after discussing on Discord, hence closing this.

[2021-05-30 17:47] #143 closed

[2021-05-31 07:59] #63 closed

[2021-05-31 11:15] rubyruins commented on #88
Has this issue been completed?

[2021-05-31 11:16] chebroluharika commented on #88
No @rubyruins

[2021-05-31 11:36] #46 closed

[2021-05-31 14:27] #88 closed

[2021-05-31 17:41] #112 closed

[2021-05-31 18:11] earnsans commented on #112
hello @chebroluharika I've  made a PR, but why has the issue been closed?

[2021-05-31 18:13] earnsans commented on #112
I was working on this issue , how could someone else's work been merged?

[2021-05-31 19:31] Aryamanz29 commented on #112
I think in this  PR #150 @rubyruins tagged the `wrong issue number` that's why this issue been closed 😕 . @yvkrishna Please reopen this one

[2021-06-06 09:44] #62 closed

[2021-06-10 06:27] yvkrishna opened #157 "Self created median Filter"
write code for applying the median filter to the input image.

[2021-06-10 06:28] yvkrishna opened #158 "Self created gaussian Filter"
write code for applying the gaussian filter to the input image.

[2021-06-10 06:28] yvkrishna opened #159 "Self created laplacian Filter"
write code for applying the Laplacian filter to the input image.

[2021-06-10 06:31] yvkrishna opened #160 "Self created sobel-y Filter"
write code for applying the Sobel-y filter to the input image.

[2021-06-10 06:31] yvkrishna opened #161 "Self created sobel-x Filter"
write code for applying the Sobel-x filter to the input image.

[2021-06-10 06:33] yvkrishna opened #162 "Self created bilateral Filter"
write code for applying the bilateral filter to the input image.

[2021-06-10 18:22] rubyruins opened #163 "Issues running TF results without generator."
TF results (with and without generator) both work only with binary_crossentropy loss, and sigmoid activation function with 1 node in the last layer of the model. I'm facing issues running TF results with more classes.

<img width="500" src="https://user-images.githubusercontent.com/50259869/121577304-03318d80-ca47-11eb-84e1-3e6cb9d835d4.png">

[2021-06-12 06:47] yvkrishna commented on #163
@ArkaprabhaChakraborty, can you give your points

[2021-06-12 06:53] ArkaprabhaChakraborty commented on #163
Roc and auc happens for binray labels .... If you have more than two labels it doesnt work.

[2021-06-12 06:55] yvkrishna opened #164 "Text pre-processing"
As part of this issue, we can discuss and look out for various ways to pre-processes textual data

1. Removing Stop Words,
2. Removing special characters,
3. Convert Accented characters,
4. Lemmatization and stemming

[2021-06-12 06:55] ArkaprabhaChakraborty commented on #163
Its basically no of of false positive vs true positives. For multiclass probabilities are predicted and the label having maximum probability is given as an output. I think ROC cant work on that.

[2021-06-12 07:03] yvkrishna commented on #163
I have found one related to this in google

ROC curves are typically used in binary classification to study the output of a classifier. In order to extend ROC curve and ROC area to multi-label classification, it is necessary to binarize the output. One ROC curve can be drawn per label, but one can also draw a ROC curve by considering each element of the label indicator matrix as a binary predictio

[2021-06-15 18:49] ArkaprabhaChakraborty commented on #163
I guess this micro averaging has to be done manually by the user and its different for different labels.

[2021-10-05 23:24] soma2000-lang commented on #164
@yvkrishna  please assign me this

[2021-10-20 14:27] rubyruins commented on #164
@yvkrishna, is this issue open? If so, I can work on it

[2021-10-20 17:30] yvkrishna commented on #164
yes @rubyruins, You can work on this issue.

[2021-10-26 08:06] rubyruins commented on #164
@yvkrishna, sure thing, I will start on this.

[2021-10-31 16:14] rubyruins commented on #164
@yvkrishna what format should be used for the inputs? and does the user get a choice in selecting which functions to apply? Also, do you want the functions to be applied and saved separately or done serially on the same piece of text?

[2021-10-31 17:01] yvkrishna commented on #164
It would be better to have a dictionary where the key would be the pre processing method and the value would be corresponding values required to implement that method.